.popup__input_avatar-src {
  padding-bottom: 10px;
  margin-bottom: 48px;
}

.popup__input_avatar-src::placeholder {
  color: #C4C4C4;
}

@media screen and (max-width:320px) {
  .popup__input_avatar-src {
    margin-bottom: 44px;
  }
}
