.element__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-left: 21px;
  max-width: 91.5%;
}

@media screen and (max-width: 720px) {
  .element__group {
    max-width: 88%;
  }
}
